
{:paths ["source-code/clj"]
 :deps  {bithandshake/cljc-io   {:git/url "https://github.com/bithandshake/cljc-io"
                                 :sha     "ef13bad6bae20636e019ddfdec9419386d064067"}
         bithandshake/cljc-time {:git/url "https://github.com/bithandshake/cljc-time"
                                 :sha     "808ac790db09e0ff6dd5d04b255474719667b153"}
         org.clojure/clojure    {:mvn/version "1.10.1"}}}
